.form-access {
  max-width: 360px;
  padding: 15px;
  padding-top: 120px;
}

body {
  background-image: url(../../assets/img/bg-cell.png);
  background-color: #061823;
}

.bg-form {
  background: linear-gradient(180deg, #061823 54.48%, rgba(6, 24, 35, 0) 100%);
}
