.report-bg {
    background-image: url(../../assets/img/report-bg.png);
}

.report-logo {
    max-width: 360px;
    width: 100%;
}

.report-house-illustration {
    max-width: 960px;
    width: 100%;
}
