.input-avatar {
    width: 72px;
    height: auto;
    border-radius: 50%;
    border: 1px solid #A6CDE5;
}

#divRazaoEscondida{
    display: none;
}
#divRazaoVisvel{
    display: block;
}
.divendereco{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;    
}
.customerCliente {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.divClientData{
    width: 100%;
}
.div1{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.cepc{
    width: 148px;
}
.cepjc{
    width: 165px;
}
.bairroc{
    width: 380px;
}
.razaoSocialc{
    width: 440px;
}
.emailc{
    width: 455px;
}
.adicionaisc{
    width: 610px;
}

.emailjc{
    width: 460px;
}
.ruac{
  
    width: 455px;
}
.ruajc{
    width: 630px;
}
.nomec{
    width: 630px;
}
.nomejc{
    width: 630px;
    border: solid;
}
.cidadec {
    width: 500px;
    
  }

  .numeroc{
    width: 225px;
  }
  .adicionaisc{
    width: 630px;
  }
.tipopessoac{ width: 215px;}
_:-ms-lang(x), .rua {
    width: 200px;
}

/* Estilos para dispositivos com largura de tela menor que 768px */
@media screen and (max-width: 767px) {
    .tipopessoac, .nomec, .nomejc, .ruac, .ruajc, .adicionaisc {
      width: 200%;
    }
    .emailjc {
       
        width: 100%;
      }
      .emailc{
        width: 100%;
      }
    .docc {
        width: 100%;
      }
      .numeroc {
        width: 100%;
      }
      .cidadec {
        width: 100%;
      }
      .bairroc{
        width: 100%;
      }
      .cidadec {
        width: 50%;
      }
      .estadoc{
        width: 100%;
      }
    .fonec, .zapc, .cepc, .cepjc, .divRazaoEscondidac, .divRazaoVisvelc{
        width: 100%;
      }
  }
