.widget-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.widget-wallet-icon {
    background-color: #E9F3F9;
    color: #4D9BCC;
}

.widget-hand-thumbs-up-icon {
    background-color: #E9F9F2;
    color: #4DCC97;
}

.widget-basket3-icon {
    background-color: #FEF6E6;
    color: #F7B435;
}