.search-w {
    width: 256px;
}

.table-w {
    max-width: 960px;
}

.td-img {
    width: 48px;
}

.table-avatar {
    width: 32px;
    height: auto;
    border-radius: 50%;
    border: 1px solid #A6CDE5;
}
.divfora{ width: 100%; }
.filtro{
    display: flex;
    flex-direction: row;
    gap: 20px;
 
}
.fildes{
    width: 40px;
}
.bt-create{
    display: flex;
    justify-content: space-between;
    width: 12%;
}
#btn-create{
    display: flex;
    justify-content: space-between;
    width: 10%;
}
.cab2{
    width: 33%;
}
.cab3{
    width: 26%;
    
}



/* Estilos para dispositivos com largura de tela menor que 768px */
@media screen and (max-width: 767px) {
    .descprod {
      width: 100%;
    }
    .categoria {
        width: 100%;
      }
    .marca{
        width: 100%;
      }
      .filtro{
        display: flex;
        flex-direction: column;
        margin-bottom: 180px;
     
    }
    
  }
