// Colors
$primary: #1b6b9d;
$secondary: #E2E2E2;
$warning: #F5A103;
$danger: #CF3544;
$success: #21BF7D;

// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$navbar-toggler-focus-width: none;
$navbar-toggler-transition: box-shadow 0.15s ease-in-out !default;
$navbar-light-toggler-border-color: none;

// Buttons
$border-radius: 0.5rem;
