.bg-home {
    background-color: #F4F9FC;
}

.card-content-title {
    color: #6E6E6E;
}

.wrapper {
    overflow: hidden;
}

.wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    min-width: 100vw;
}

#menu-toggle {
    cursor: pointer;
}

.card {
    color: #6E6E6E;
}

@media (min-width: 768px) {
    .wrapper.toggled #sidebar-wrapper {
        margin-left: -232px;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
}