$header-total-height: 65px;

.sidebar {
    width: 232px;
    min-height: calc(100vh - $header-total-height);
    background-color: #F4F9FC;
}

.sidebar-sections {
    color: #8B8B8B;
}

#sidebar-wrapper {
    margin-left: -232px;
    transition: margin 0.25s ease-out;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
}