.form-access {
    max-width: 360px;
    padding: 15px;
    padding-top: 120px;
    height: calc(100vh - 65px);
  }
  
body {
    background-image: url(./bg-cell.png);
    background-color: #030C11;
}

.bg-form {
    background: linear-gradient(180deg, #061823 54.48%, rgba(6, 24, 35, 0) 100%);
}
